AI_HANDSHAKE_TOKEN=secret_for_ai_service
AI_OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
NEST_BASE_URL=http://localhost:8003/api/
REDIS_URL=redis://host.docker.internal:6379/0
QDRANT_URL=http://host.docker.internal:6333
QDRANT_API_KEY=
OPENROUTER_API_KEY=your_openrouter_api_key